@use 'interface/Theme.scss';

$side-rail-width: 320px;

.outer_container {
  display: block;
  background-repeat: no-repeat;
  background-position: center;

  &:has(:global(#vertical-banner-atf):empty),
  &:has(:global(#top-banner-atf):empty),
  &.show_background {
    background-image: url('../../public/img/ad-fallback-top.jpg');
    background-origin: content-box;
    background-repeat: no-repeat;

    .ad_label {
      display: none;
    }
  }

  text-decoration: none !important;
}

.top {
  min-height: 250px;
  margin-left: auto;
  margin-right: auto;
  width: 970px;
  min-width: 970px;

  & > *,
  iframe {
    max-width: 970px;
  }
}

.side-rail {
  min-height: 620px;
  min-width: $side-rail-width;
  height: 620px;
  padding: 1rem;
  box-sizing: border-box;

  background: hsl(44, 7%, 10%);
  box-shadow: 0 1px 4px black;
  position: sticky;
  align-self: start;
  top: 1rem;

  &:has(:global(#vertical-banner-atf):empty),
  &.show_background {
    background-image: url('../../public/img/ad-fallback-side.jpg');
    background-position: center;
  }
}

.ad_label {
  text-transform: uppercase;
  font-size: 75%;
  color: rgb(243, 237, 237);
}
