@use 'interface/Theme.scss';

.character-tab {
  background: Theme.$backgroundColor;
  padding: 2rem;
}

.character-tab>.row:not(:first-child) {
  margin-top: 2em;
}

.stat-row svg.icon {
  height: 2em;
  margin-top: 0.5em;
}