@use 'interface/Theme';

// standard colors for perf
$perfect-perf-color: #2090c0;
$good-perf-color: #4ec04e;
$ok-perf-color: #ffc84a;
$bad-perf-color: #ac1f39;
// extra colors for some special case stuff
$very-bad-perf-color: #661111;
$mediocre-perf-color: #dd5533;
$available-cd-color: #696864;

// for export
:root {
  --guide-perfect-color: #{$perfect-perf-color};
  --guide-good-color: #{$good-perf-color};
  --guide-ok-color: #{$ok-perf-color};
  --guide-bad-color: #{$bad-perf-color};
  --guide-very-bad-color: #{$very-bad-perf-color};
  --guide-mediocre-color: #{$mediocre-perf-color};
  --guide-available-color: #{$available-cd-color};
}

.guide-container {
  section {
    /* this is left in place for now because it is not sufficiently narrow in scope to be comfortable removing */
    margin: initial;
  }
}

.perfect-mark {
  color: $perfect-perf-color;
}

.good-mark {
  color: $good-perf-color;
}

.ok-mark {
  color: $ok-perf-color;
}

.bad-mark {
  color: $bad-perf-color;
}

.pass-fail-bar-container {
  display: inline-block;
  width: 10em;

  & > div {
    display: inline-block;
    height: 1em;
  }

  .pass-bar {
    border-radius: 2px 0 0 2px;
    background-color: hsl(120, 47.5%, 52.9%);
  }

  .pass-bar:only-child {
    border-radius: 2px;
  }

  .fail-bar {
    border-radius: 0 2px 2px 0;
    background-color: hsl(348.9, 69.5%, 39.8%);
  }
}

.gradiated-bar-container {
  display: inline-block;
  width: 100%;

  & > div {
    display: inline-block;
    height: 1.5em;
  }

  & > div:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  & > div:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .perfect-bar {
    background-color: $perfect-perf-color;
  }

  .good-bar {
    background-color: $good-perf-color;
  }

  .ok-bar {
    background-color: $ok-perf-color;
  }

  .bad-bar {
    background-color: $bad-perf-color;
  }
}
